
@{
    ViewData["Title"] = "Index";
}

<h2>Cheese Categories</h2>

@model List<CheeseMVC.Models.CheeseCategory>
<ul>
    @foreach (var cheeseCategory in Model)
    {
        <li><a>@cheeseCategory.Name</a></li>
    }
</ul>
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>